ZABBIX_SERVER = "127.0.0.1"
ZABBIX_PORT =10051
ZABBIX_HOST = "Gerador"

DSE_USER=admin
DSE_PASSWORD=admin
DSE_URL=http://192.168.254.248


CRON_INTERVAL_MINUTES = 2

LOG_LEVEL = debug

PLAYWRIGHT_BROWSERS_PATH=./browsers